{% extends 'flatpages/default.html' %}

{% load custom_filter %}
{% block title %}
Concrete_News
{% endblock title %}

{% block content %}
    <h1>Новость/статья</h1>
   <hr>
   {% if post %}
          <table align="center" border = "1">
        <tr>
            <th>Заголовок</th>
            <th>Текст новости/статьи</th>
            <th>Дата публикации</th>
        </tr>
        <tr>
            <td>{{ post.title|censor }}</td>
            <td>{{ post.text|censor}}</td>
            <td>{{ post.time_post|date:'d M Y' }}</td>
        </tr>
    </table>

   {% else %}
       <h2>Свежих новостей нет!!!</h2>
   {% endif %}
{% endblock content %}