{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load tz %}
{% load custom_filter %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
<br>
   <h1>{% trans 'Все новости/статьи' %}</h1>
<br>
   <form action="{% url 'set_language' %}" method="POST"> 
		{% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->
            {% get_current_language as LANGUAGE_CODE %}
            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
</form>
<br>
	{% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">{% trans 'Выберите свой часовой пояс' %}:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>
 
    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->
<hr>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

    <br>
   {% if posts %}
          <table align="center" border = "1">
        <tr>
            <th>{% trans 'Заголовок' %}</th>
            <th>{% trans 'Дата публикации' %}</th>
            <th>{% trans 'Текст новости/статьи' %}</th>
			<th>{% trans 'Категория' %}</th>
        </tr>

        {% for post in posts %}
        <tr>
            <td>{{ post.title|censor }}</td>
            <td>{{ post.time_post }}</td>
            <td>{{ post.text|truncatewords:20|censor}}</td>
			<td>
                {% for category in post.category.all %}
                <a href = "{% url 'category_list' category.id %}">{{category}}</a>
                {% endfor %}
            </td>
            <td>
                {% if perms.news_bd.change_post and post.type_post == 'NE' %}
                <a href="{% url 'news_edit' pk=post.id %}">{% trans 'Изменить новость' %}</a>
                {% elif perms.news_bd.change_post and post.type_post == 'AR' %}
                    <a href="{% url 'article_edit' pk=post.id %}">{% trans 'Изменить статью' %}</a>
                {% endif %}
            </td>
             <td>
                {% if perms.news_bd.delete_post and post.type_post == 'NE' %}
                <a href="{% url 'news_delete' pk=post.id %}">{% trans 'Удалить новость' %}</a>
                {% elif perms.news_bd.delete_post and post.type_post == 'AR' %}
                    <a href="{% url 'article_delete' pk=post.id %}">{% trans 'Удалить статью' %}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

   {% else %}
       <h2>{% trans 'Свежих новостей нет!!!' %}</h2>
   {% endif %}

    {% if page_obj.has_previous %}
        <a href ="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
        <a href ="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
         <a href ="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != paginator.num_pages %}
            ...
        <a href ="?{% url_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}